@import "../../assets/scss/variables.scss";

.repositories-table-container {
    position: relative;
    width: 100%;
    max-width: 1030px;

    .repositories-table {
        background: $table-color;
        width: 100%;
        .repositories-table-content {
            padding: 22px;
        }
    }

    .repositories-table-tabs {
        max-width: 40%;
        color: $white;
        display: flex;
        flex-direction: row;
        cursor: pointer;

        div {
            width: 50%;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            height: 40px;
            text-align: center;

            span {
                background-color: #454545;
                border-radius: 50%;
                font-size: 14px;
                padding: 4px 6px;
                margin-left: 12px;
            }
        }
    }

    .content,
    .active-tab-border {
        padding: 10px 10px 0 10px;
        background: $table-color;
    }

    .content {
        border-bottom: 2px solid $table-color !important;
    }

    .active-tab-border {
        border-bottom: 2px solid rgba(159, 159, 159, 0.7);
    }

    .repositories-show-more {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: $white;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        padding-top: 63px;
        cursor: pointer;
        img {
            padding-left: 8px;
        }
    }
}

@media (min-width: $breakpoint-wide-screen) {
    .repositories-table-tabs {
        max-width: 32% !important;
    }
}

@media (max-width: $breakpoint-wide-screen) {
    .repositories-table-tabs {
        max-width: 40% !important;
    }
}

@media (max-width: $breakpoint-tablet) {
    .repositories-table-tabs {
        max-width: 40% !important;
    }
}

@media (max-width: $breakpoint-mobile) {
    .repositories-table-tabs {
        max-width: 80% !important;
    }
}
