@import "../../assets/scss/variables.scss";

.login-container {
    background: linear-gradient(180deg, $dark-gray 0%, $primary 100%);
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
}

.login-left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@media (max-width: $breakpoint-tablet) {
    .login-container {
        padding: 0 20%;
    }
}
