* {
    padding: 0px;
    margin: 0px;
    // box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

#root {
    height: 100vh;
}
