@import "./variables.scss";

h1 {
    font-weight: 700;
    font-size: 144px;
    line-height: 100px;
}

h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
}

h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
}

h5 {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
}
