$primary: #1c1d20;
$primary-light: #222222;
$primary-middle: #242424;
$dark-gray: #33383d;
$middle-gray: #26292c;
$table-color: #2b2b2b;
$middle-light-gray: #8d8d8d;
$light-gray: #aaaaaa;

$secondary: #e0e0e0;
$white: #ffffff;
$light-sand: #f0f0f0;

$orange-primary: #ff2d04;
$orange-secondary: #c13216;
$dark-orange: #c12d18;

$yellow: #e9b425;

$blue: #0487ff;
$dark-blue: #1665c1;

$breakpoint-wide-screen: 1800px;
$breakpoint-small-screen: 1200px;
$breakpoint-tablet: 950px;
$breakpoint-mobile: 450px;
