$primary: #1c1d20;
$primary-light: #222222;
$secondary: #e0e0e0;
$orange-primary: #ff2d04;
$orange-secondary: #c13216;
$white: #ffffff;
$dark-gray: #33383d;
$middle-gray: #26292c;
$yellow: #e9b425;

$breakpoint-wide-screen: 1800px;
$breakpoint-tablet: 950px;
$breakpoint-mobile: 450px;
