@import "../../assets/scss/variables.scss";

.user-info-container {
    background: linear-gradient(180deg, $dark-gray 0%, $primary 100%);
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
    min-height: 100vh;
    padding: 10%;

    .user-info-content {
        background: $primary-middle;
        display: flex;
        flex-direction: column;
        padding: 5%;

        .user-info-button-container {
            padding-bottom: 10px;
            align-self: flex-end;
        }

        .user-info-profile {
            margin: 0 8% 4% 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                border-radius: 50%;
                width: 174px;
            }

            .title {
                padding-top: 40px;
                font-weight: 400;
                font-size: 32px;
                line-height: 39px;
                color: $white;
            }

            .description {
                text-align: center;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: $middle-light-gray;
            }
        }
    }
}
