@import "../../assets/scss/variables.scss";

.banner-container {
    color: $secondary;
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-y: hidden;
    justify-content: end;

    .content {
        display: flex;
        max-width: 330px;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }

    section {
        height: 100%;
    }

    img {
        max-width: 100%;
    }
}

.banner-img {
    background: url("../../assets/images/compass-banner.png") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.mobile-logo,
.no-mobile-logo {
    display: none;
}

@media (min-width: $breakpoint-wide-screen) {
    .banner-container {
        .content {
            max-width: 65%;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .banner-container {
        justify-content: center;
        flex-direction: column;
        align-items: center;

        section {
            width: 100% !important; //for mobile the border space is adjusted in the father component
        }

        .content {
            padding-bottom: 20%;
            justify-content: center;
            gap: 10%;
            max-width: unset;
        }
    }

    .mobile-banner-section {
        display: none;
        width: 0 !important;
    }

    .mobile-logo {
        width: 349px;
        padding-top: 33px;
        display: inline;
    }

    .no-mobile-logo {
        display: none;
    }
}

@media (max-width: $breakpoint-mobile) {
    .mobile-logo {
        width: 270px;
    }
}
