@import "../../assets/scss/variables.scss";

.search-container {
    background: linear-gradient(180deg, $dark-gray 0%, $primary 100%);
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
    .search-left-section {
        display: flex;
        justify-content: center;
        align-items: center;
        .search-content {
            margin-left: 10%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 5%;
            height: 100vh;
            width: 75%;

            .search-section {
                display: flex;
                flex-direction: row;
                .search-button-content {
                    display: flex;
                    justify-content: space-around;
                    padding: 0 20px;
                }
            }
        }
    }
}

.search-header {
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}
