@import "../../assets/scss/variables.scss";

.search-container {
    background: linear-gradient(180deg, $dark-gray 0%, $primary 100%);
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
    .search-left-section {
        display: flex;
        justify-content: center;

        .search-content {
            margin: 20% 0 0 10%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;

            gap: 5%;
            height: 100vh;
            width: 75%;

            .search-section {
                display: flex;
                flex-direction: row;
                gap: 40px;

                section {
                    width: 70%;
                }
                .search-button-content {
                    display: flex;
                    justify-content: space-around;
                    padding: 0 20px;
                }
            }
        }
    }
}

.search-header {
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: $breakpoint-tablet) {
    .search-container {
        .search-left-section {
            justify-content: flex-start;
            .search-content {
                width: unset;
                margin: 40px;
                .search-section {
                    gap: 18px;
                    max-width: unset !important;
                    .search-button-content {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .search-content {
        margin: 20px !important;
    }
}
