@import "../../assets/scss/variables.scss";

::-webkit-input-placeholder {
    color: $secondary;
}

.base-input {
    border: 1px solid $white;
    border-radius: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    height: 60px;
    color: $secondary;
    background: $middle-gray;
    display: flex;
    align-items: center;
    padding-left: 12px;

    input[type="password"]:not(:placeholder-shown) {
        font-size: 30px;
    }

    input {
        color: $secondary;
        border: none;
        height: 95%;
        width: 100%;
        margin-left: 5px;
        border-radius: 50px;
        border: none;
        background: $middle-gray;

        &:focus {
            outline: none;
        }
    }
}

.icon-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
        padding-right: 20px;
    }
}

.login-error {
    border: 1px solid $yellow;
}
