@import "../../assets/scss/variables.scss";

.base {
    border: 1px solid $white;
    border-radius: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $secondary;
}

.base-input {
    border: none;
    height: 100% !important;
}

.icon-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
