@import "../../assets/scss/variables.scss";

.error-container {
    background: linear-gradient(180deg, $dark-gray 0%, $primary 100%);
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
    color: $secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;

    p {
        max-width: 298px;
        text-align: center;
    }
}
